eln-cache/
eshell/
forge-database.sqlite
image-dired/
*.elc
tryton/
tutorial/
.cache/
.last-package-update-day
.mc-lists.el
games/
.lsp-session*
bookmarks
transient/
tramp
semanticdb/
session.*
bookmarks
elpa/
custom.el
eudc-options
network-security.data
_minted-*
*.tex
*.pdf
auto-save-list/
auto/
backups/
lisp/gnus-config.el
irony/
idlwave/
history
recentf
projects
*~
*#
multisession/
cider-history
